/* App.css */

.top {
  flex-grow: 0 ;
  display: flex;
}

.center {
  flex-grow: 1 ;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  gap: 10px;
}

.bottom {
  flex-grow: 0 ;
  display: flex;
}
